<div></div>

<script>
import mapboxgl from 'mapbox-gl'

export default {
  oncreate () {
    const { map, lngLat } = this.get()

    this.marker = new mapboxgl.Marker({ draggable: true })
      .setLngLat(lngLat)
      .on('drag', e => {
        const lngLat = this.marker.getLngLat()
        this.fire('drag', {lngLat: [lngLat.lng, lngLat.lat]})
      })
      .addTo(map)
  },

  onstate ({ changed, current }) {
    if (this.marker) {
      this.marker.setLngLat(current.lngLat)
    }
  },

  ondestroy () {
    const map = this.get().map
    map.removeLayer(this.layer)
    map.removeSource(`wp-marker-source-${this.id}`)
  }
}
</script>
