<div></div>

<script>
import {lineString} from '@turf/helpers'

var id = 0

export default {
  onstate ({ changed, current }) {
    const { map, route, selected } = current

    if (changed.route) {
      if (!this.sourceId) {
        this.sourceId = `route-line-source-${++id}`
        map.addSource(this.sourceId, {
          type: 'geojson',
          data: lineString(route.coordinates)
        })
      }

      map.getSource(this.sourceId).setData(lineString(route.coordinates))
    }

    if (changed.selected) {
      if (!this.layerId) {
        this.layerId = `route-line-${++id}`

        this.layer = {
          id: this.layerId,
          type: 'line',
          source: this.sourceId,
          paint: {
            'line-color': '#38f'
          }
        }
        map.addLayer(this.layer)
      }

      map
        .setPaintProperty(this.layerId, 'line-width', selected ? 8 : 5)
        .setPaintProperty(this.layerId, 'line-opacity', selected ? 1 : 0.7)
    }
  },

  ondestroy () {
    const map = this.get('map')
    map.removeLayer(this.layerId)
    map.removeSource(`route-line-source-${this.id}`)
  }
}
</script>
